[submodule "intro-component-with-signup-form"]
	path = intro-component-with-signup-form
	url = https://github.com/atilara/intro-component-with-signup-form
[submodule "single-price-grid-component"]
	path = single-price-grid-component
	url = https://github.com/atilara/single-price-grid-component
[submodule "fylo-landing-page-with-two-column-layout"]
	path = fylo-landing-page-with-two-column-layout
	url = https://github.com/atilara/fylo-landing-page-with-two-column-layout
[submodule "huddle-landing-page-with-alternating-feature-blocks"]
	path = huddle-landing-page-with-alternating-feature-blocks
	url = https://github.com/atilara/huddle-landing-page-with-alternating-feature-blocks
